* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f7f9f6;
  color: #222;
  line-height: 1.6;
}

.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 70, 45, 0.7), rgba(0, 70, 45, 0.7)),
              url("https://images.unsplash.com/photo-1469571486292-0ba58a3f068b") center/cover;
  color: white;
  padding: 25px 8%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  font-size: 26px;
}

nav a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 8px 18px;
  border-radius: 25px;
}

.hero-content {
  max-width: 650px;
  margin-top: 150px;
}

.hero-content h1 {
  font-size: 55px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  background: #ffb703;
  color: #222;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 30px;
  font-weight: bold;
}

section {
  padding: 60px 8%;
}

section h2 {
  text-align: center;
  font-size: 34px;
  margin-bottom: 25px;
  color: #14532d;
}

.about p,
.impact p,
.cta p {
  max-width: 900px;
  margin: auto;
  text-align: center;
  font-size: 18px;
}

.projects {
  background: white;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.card {
  background: #f0fdf4;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  color: #166534;
  margin: 18px;
}

.card p {
  margin: 0 18px 22px;
}

.impact {
  background: #dcfce7;
}

.cta {
  text-align: center;
  background: #14532d;
  color: white;
}

.cta h2 {
  color: white;
}

.cta .btn {
  margin-top: 25px;
}

footer {
  text-align: center;
  padding: 18px;
  background: #052e16;
  color: white;
}

@media (max-width: 600px) {
  .hero-content h1 {
    font-size: 36px;
  }

  .hero-content {
    margin-top: 100px;
  }

  nav {
    flex-direction: column;
    gap: 15px;
  }
}